body {
    background-color:lightskyblue;
    
    }

* {
font-family: 'Song Myung', serif;
}

h3 {
font-size: medium;
}

.principal {
font-family: 'Song Myung', serif;
font-size: 200 px;
align-self: center;
font-weight: bold;
}

.titulos {
    font-weight: bold;
    font-family: 'Song Myung', serif;
    font-size: xx-large;
}


.subtitulos {
color: crimson;
font-weight: bold;
font-family: 'Song Myung', serif;
font-size: large;

}


.boton  {
color: white;
background-color: #3CC93F;
}


.campo  {
border: solid 1px;
padding: 10px;
}


form {
    width: 240px; 
    margin: 0 auto; 
    background-color: white; 
    padding: 10px; 
    color: grey; 
    border-radius: 3px;
    align-items: center;
}

#form {
display: none;
}